@font-face {
    font-family: "AVENGEANCE MIGHTIEST AVENGER";
    src: url();
    font-family: "AVENGEANCE HEROIC AVENGER";
    src: url(font-awesome-4.6.3/fonts/AVENGEANCE\ HEROIC\ AVENGER.otf);
  }

.tm-banner-title, .tm-sidebar, .tm-section-title { 
	color: white;
    font-family: "AVENGEANCE HEROIC AVENGER";
    src: url(font-awesome-4.6.3/fonts/AVENGEANCE\ HEROIC\ AVENGER.otf);
	
}
.tm-section-title{
    font-size: 40px;
}
.subt, figure.effect-bubba h2 {
    font-family: "AVENGEANCE MIGHTIEST AVENGER";
    src: url(font-awesome-4.6.3/fonts/AVENGEANCE\ MIGHTIEST\ AVENGER.ttf);
    color:white;
}
.tm-button{
    background-color:black;
    opacity: 0.7;
}
.tm-footer{
    color: white;
}

.form-inline{
    text-align: right;
    opacity: 0.8;
    
}
#busq{
    background-color:black;
    opacity: 0.9;
    color: white;
    font-weight: bolder;
    border-radius:5px; 
    border-color: black;
    font-family: "AVENGEANCE MIGHTIEST AVENGER";
    src: url(font-awesome-4.6.3/fonts/AVENGEANCE\ MIGHTIEST\ AVENGER.ttf);
}
#busq:hover,
#busq.active {
	background-color:midnightblue;
	color: white;
	text-decoration: none;
}

.lisOr{
    color: white;
    font-family: "AVENGEANCE MIGHTIEST AVENGER";
    src: url(font-awesome-4.6.3/fonts/AVENGEANCE\ MIGHTIEST\ AVENGER.ttf);
    font-size: 15px;
}
#enlace{
    text-decoration: none;
    color: white;
}
#enlace1{
    text-decoration: none;
    color: black;
}

.lisOr a:hover{ 
    background-color: midnightblue;
    opacity: 0.9;
    color: #FFF;
    }

#gal{
    margin-left: 30px;
    
}
#bgcont{
    background-color: midnightblue;
    opacity: 0.9;
    font-family: "AVENGEANCE MIGHTIEST AVENGER";
    src: url(font-awesome-4.6.3/fonts/AVENGEANCE\ MIGHTIEST\ AVENGER.ttf);
}
#opaci{
    opacity: 0.9;
    font-family: "AVENGEANCE MIGHTIEST AVENGER";
    src: url(font-awesome-4.6.3/fonts/AVENGEANCE\ MIGHTIEST\ AVENGER.ttf);
}
#colorFor{
    color: black;
}
#submit{
    border-radius: 5px;
}
#badge {
    background-color: midnightblue;
    border-color: midnightblue;
    text-align: justify;
    opacity: 0.9;
}
table {
    font-family: "AVENGEANCE MIGHTIEST AVENGER";
    src: url(font-awesome-4.6.3/fonts/AVENGEANCE\ MIGHTIEST\ AVENGER.ttf);
    font-size: 15px;    
    margin: 45px;     
    width: 700px; 
    text-align: left;    
    border-collapse: collapse; 
}

th {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    background: black;
    opacity: 0.7;
    color: white;
}

td {
    padding: 8px;
    background: black;
    opacity: 0.7;
    color: white;
    border-top: 1px solid white;
}

tr:hover td {
    background: midnightblue;
    color: white;
}
#img{
    margin-left: 160px;
    margin-top: 30px;
    background-color: transparent;
}
#info{
    border-radius: 5px;
    opacity: 0.7;
    height: 20%;
    width: 50%;
    text-align: center;
    background-color: white;
}
#badge p{
    font-family: "AVENGEANCE MIGHTIEST AVENGER";
    src: url(font-awesome-4.6.3/fonts/AVENGEANCE\ MIGHTIEST\ AVENGER.ttf);
}
#badge h2{
    font-family: "AVENGEANCE HEROIC AVENGER";
    src: url(font-awesome-4.6.3/fonts/AVENGEANCE\ HEROIC\ AVENGER.otf);
}
#tipeli{
    font-family: "AVENGEANCE MIGHTIEST AVENGER";
    src: url(font-awesome-4.6.3/fonts/AVENGEANCE\ MIGHTIEST\ AVENGER.ttf);
    color: white;
}
.img-thumbnail:hover {
    -webkit-transform: scale(1.3);
    transform: scale(2.3);
}

#galeria .contenedor {
    overflow: hidden;
}

.butINI #enlaini{
    font-family: "AVENGEANCE MIGHTIEST AVENGER";
    src: url(font-awesome-4.6.3/fonts/AVENGEANCE\ MIGHTIEST\ AVENGER.ttf);
    color: white; 
    text-decoration: none;
}

